body {
    margin: 0;
    padding: 0;
    background: #0B0D17;
}

main {
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(./assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}

.flex,
.flexpart1,
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    justify-content: space-between;
    margin-left: 70px;
    min-height: 150px;
    position: relative;
}

.line {
    position: absolute;
    width: 405px;
    height: 1px;
    left: 120px;
    top: 76px;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.25;
    z-index: 999;
}

.flex {
    gap: 50px;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
}

.logo {
    cursor: pointer;
}

.flexpart1 {
    gap: 5px;
}

.sideNav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(81px);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
}

.ham {
    display: none;
}

main {
    position: relative;
}

.close:hover {
    cursor: pointer;
}

.flexpart1:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

.crew {
    border-bottom: 2px solid white;
}

.mainflex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 550px;
    animation: transit 0.75s;
}

@keyframes transit {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

.align {
    align-self: flex-end;
}

.mainpart1 {
    align-self: flex-start;
}

.mainpart2 {
    background-color: white;
    height: 274px;
    width: 274px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    text-transform: uppercase;
}

.mainpart2:hover {
    cursor: pointer;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
}

.space {
    font-size: 56px;
    margin: 0 auto;
    color: white;
    text-transform: uppercase;
}

.para2 {
    max-width: 500px;
    font-family: 'Barlow Condensed', sans-serif;
    color: #D0D6F9;
    font-size: 18px;
}

.para1 {
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    color: #D0D6F9;
    letter-spacing: 4.72px;
}

.pickDestination {
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 4.72px;
    margin: 40px 0px 40px 70px;
    text-transform: uppercase;
}

.commander {
    text-transform: uppercase;
    letter-spacing: 4.76px;
    font-size: 32px;
    color: white;
    opacity: 0.5;
}

.imageOfPerson {
    height: 505px;
    width: 405px;
}

span {
    color: #D0D6F9;
    letter-spacing: 2px;
}

.flex {
    backdrop-filter: blur(81.54px);
    padding: 1.56rem 15.6rem 1.56rem 3.75rem;
}

.circles {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
}

.ball {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.circle3 {
    background-color: white;
}

.circle1,
.circle2,
.circle4 {
    background-color: white;
    opacity: 50%;
}

.circle1:hover,
.circle2:hover,
.circle3:hover,
.circle4:hover {
    opacity: 100%;
    cursor: pointer;
}

@media screen and (max-width:1366px) {
    .mainflex {
        min-height: 400px;
    }
    .line {
        width: 405px;
        top: 50px;
    }
    .pickDestination {
        margin: 0px 0px 20px 70px;
    }
    .header {
        min-height: 100px;
    }
}

@media screen and (max-width: 1365px) {
    main {
        max-width: 768px;
        background-image: url(./assets/crew/background-crew-tablet.jpg);
        background-size: 768px 1067px;
        min-height: 1067px;
    }
    .line {
        display: none;
    }
    .mainflex {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
    .mainpart1 {
        text-align: center;
    }
    .flex {
        padding: 1.56rem 2.6rem 1.56rem 3.75rem;
        background-color: rgba(255, 255, 255, 0.204);
    }
    .pickDestination {
        font-size: 20px;
        letter-spacing: 3.38px;
        margin: 40px 0px 40px 70px;
    }
    .space {
        font-size: 40px;
    }
    .para2 {
        font-size: 16px;
    }
    .flexTwist {
        justify-content: center;
        margin: 20px 0px;
    }
    .distanceFlex {
        justify-content: space-evenly;
        align-items: center;
    }
    .mainpart1 {
        align-self: center;
    }
    .align {
        align-self: center;
    }
    .circles {
        justify-content: center;
    }
}

@media screen and (max-width: 790px) {
    main {
        max-width: 375px;
        background-image: url(./assets/crew/background-crew-mobile.jpg);
        background-size: 375px 740px;
        min-height: 740px;
    }
    .flex {
        display: none;
    }
    .ham {
        display: block;
    }
    .ham:hover {
        cursor: pointer;
    }
    .header {
        margin: 0px 20px;
    }
    .sideNav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    .close {
        margin: 20px 20px;
    }
    .flexpart1 {
        margin-left: 20px;
        color: white;
    }
    .commander {
        font-size: 16px;
    }
    .space {
        font-size: 24px;
    }
    .para2 {
        font-size: 15px;
        max-width: 320px;
        line-height: 25px;
    }
    .imageOfPerson {
        width: 177.12px;
        height: 222px;
        border-bottom: 1px solid #D0D6F9;
    }
    .align {
        order: 1;
    }
    .mainpart1 {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .circles {
        order: -1;
    }
    .restOfit {
        order: 2;
    }
    .mainflex {
        gap: 0;
    }
    .mainpart1 {
        margin-top: 0;
    }
    .pickDestination {
        font-size: 16px;
        margin: 0 0 30px 0;
        text-align: center;
    }
}